@font-face {
  font-family: "Roboto";
  src: url("../fonts/roboto.woff") format("woff"), url("../fonts/roboto.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotobold.woff") format("woff"), url("../fonts/robotobold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/robotomedium.woff") format("woff"), url("../fonts/robotomedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body  {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

a {
  color: inherit;
  text-decoration: none;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 240px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #fb565a;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

.button:hover {
  background-color: #e74246;
}

.button:active {
  background-color: #d7373b;
  color: rgba(225,225, 225, 0.3);
}

/*Fonts*/

.heading-big {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.heading-medium {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.heading-small {
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

/*Lines for sections on the page*/

.main-catalog .container {
  padding-bottom: 80px;
  border-bottom: 2px solid #eeeeee;
}

.main-description .container {
  padding-bottom: 50px;
  border-bottom: 2px solid #eeeeee;
}

.main-projects .container {
  padding-bottom: 0;
  border-bottom: 2px solid #eeeeee;
}

/*HEADER*/

.header-main {
  width: 100%;
  background-color: #eeeeee;
  margin: 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 65px;
  padding: 45px 0 0 0;
}

/*Navigation styles*/

.header-flex li:hover {
  color: #fb565a;
}

.header-flex li:active {
  color: inherit;
  opacity: 0.3;
}

.header-active {
  border-bottom: 2px solid #fb565a;
  padding-bottom: 5px;
}

/*Navigation logo*/

.header-logo {
  max-width: 115px;
  padding-top: 5px;
  /*Why image is bigger than container and it works??*/
}

.header-logo img:hover {
  opacity: 0.8;
}

.header-logo img:active {
  opacity: 0.3;
}

.header-site-nav {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: baseline;
  max-width: 435px;
  margin: 0;
  padding: 15px 0 0 0;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
}

.header-user-nav {
  margin: 0;
  padding: 15px 0 0 0;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
}

.user-nav-cart {
  position: relative;
  min-width: 110px;
  margin: 0;
  padding: 0 0 0 40px;
}

.user-nav-cart::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 0;
  width: 15px;
  height: 15px;
  background-image: url("../img/cart-icon.png");
  background-repeat: no-repeat;
}

/*MAIN*/

/*Slider*/

.main-slider {
  background-color: #eeeeee;
  max-height: 423px;
  padding-top: 10px;
  margin-bottom: 80px;
}

.slider {
  position: relative;
  /*For slider switchers*/
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;

  width: 1160px;
}

.slider-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 550px;
  margin: 0 0 0 0;
  padding: 60px 0 0 0;
}

.slider-paragraph h3 {
  margin: 0;
  padding: 0 0 25px 0;
}

.slider-paragraph p {
  max-width: 420px;
  margin: 0;
  padding: 0 0 40px 0;
}

.slider-image {
  margin: 0 0 0 -120px;
  padding: 0;
}

.slider-3 .slider-image {
  margin: 0 0 0 0;
}

/*Slider switchers*/

.slider-controls {
  position: absolute;
  top: 300px;
  left: 535px;
  display: flex;
  justify-content: space-between;
  width: 90px;
}

.slider-controls div {
  position: relative;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  cursor: pointer;
}

.controls-active:after {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 4px;
  height: 4px;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
  background-color: inherit;
}

/*Slider interactivity*/

.slider-1 {
  display: block;
}

.slider-2 {
  display: none;
}

.slider-3 {
  display: none;
}

/*Catalog*/

.catalog-service {
  display: flex;
  justify-content: flex-start;
}

.catalog-card {
  width: 300px;
  margin-right: 100px;
}

.catalog-card h3 {
  margin: 20px 0 15px 0;
  padding: 0;
}

.catalog-card p {
  max-width: 250px;
  margin: 0 0 31px 0;
  padding: 0;
}

/*Catalog buttons*/

.catalog-button {
  width: 160px;
}

.catalog-apps .catalog-button {
  background-color: #00ca74;
}

.catalog-apps .catalog-button:hover {
  background-color: #00bc6c;
}

.catalog-apps .catalog-button:active {
  background-color: #00aa62;
  color: rgba(255, 255, 255, 0.3);
}

.catalog-presentations .catalog-button {
  background-color: #efc849;
}

.catalog-presentations .catalog-button:hover {
  background-color: #eab534;
}

.catalog-presentations .catalog-button:active {
  background-color: #e5a722;
  color: rgba(255, 255, 255, 0.3);
}

/*Description*/

.description {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 40px 0 0 0;
}

.description-about {
  max-width: 660px;
  margin-top: -10px;
}

.description-about .heading-medium {
  margin-bottom: 30px;
}

.description-paragraph {
  margin-bottom: 40px;
}

.description-data {
  max-width: 360px;
}

.description-heading {
  text-transform: uppercase;
}

.description-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.description-list li {
  position: relative;
  margin: 25px 0 10px 0;
  padding: 0 0 0 35px;
}

.description-list li:before {
  content: "";
  position: absolute;
  top: 45%;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #fb565a;
}


/*Description Table*/

.description-heading /*For table*/ {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.description-table {
  width: 360px;
  margin: 30px 0 0 0;
  border-spacing: 0 25px;
}

.description-table caption {
  margin-bottom: 30px;
}

.description-table th {
  margin: 0;
  padding: 0;
  font-size: 45px;
  font-weigth: 700;
  text-align: left;
  width: 120px;
}

.description-table td{
  margin: 0;
  padding: 0;
  line-height: 18px;
  width: 120px;
}

/*Projects*/

.projects {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.projects li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 180px;
  margin: 0;
  padding: 0;
}

.projects li:not(:last-of-type):after {
  content: "";
  position: absolute;
  top: 35%;
  left: 280px;
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
}

.projects img {
  opacity: 0.2;
}

.projects img:hover {
  opacity: 1;
}

.projects img:active {
  opacity: 0.1;
}

/*Map*/

.main-map {
  position: relative;
  width: 100%;
  height: 416px;
  margin-top: 80px;
  padding: 0;
  background-image: url("../img/map.png");
  background-color: #eeeeee;
}

.map-info {
  position: absolute;
  top: 55px;
  left: 140px;
  width: 319px;
  height: 308px;
  padding: 50px;
  text-align: left;
  background-color: #ffffff;
}

.info-heading {
  margin: 0 0 23px 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.map-info p {
  max-width: 210px;
  margin: 0 0 18px 0;
  padding: 0;
  line-height: 18px;
  color: #666666;
}

.map-info .button {
  width: 220px;
  margin-top: 35px;
}

.map-marker {
  position: absolute;
  top: 89px;
  left: 820px;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 70px 0 70px 0;
}

.social {
  display: flex;
  width: 260px;
  justify-content: space-between;
  align-items: center;
  margin: 0 139px 0 0;
  padding: 0;
  list-style: none;
}

.social li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 78px;
  height: 78px;
  background-color: #e1e1e1;
  border-radius: 50%;
}

.social li:hover {
  background-color: #e74246;
}

.social li:active {
  background-color: #d7373b;
}

.social li:active img {
  opacity: 0.3;
}

.footer-promo p {
  margin: 0;
  padding: 0;
}

.promo-heading {
  font-size: 36px;
  line-height: 46px;
  /*Different in psd - 36px*/
  font-weight: 700;
}

/*CATALOG*/

/*Title*/

.catalog-title {
  margin: 0;
  padding: 33px 0 71px 0;
  background-color: #eeeeee;
  text-align: center;
}

/*General catalog layout*/

.catalog-wrap {
  display: flex;
  justify-content: space-between;
  padding: 58px 0 0 0;
}

/*For smaller headings in catalog and sidebar*/
.catalog-heading {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.1;
  text-transform: uppercase;
}

/*Catalog filter*/

.catalog-sidebar {
  max-width: 260px;
  /*Neccecary for flexbox layout*/
}

.sidebar fieldset {
  margin: 0;
  padding: 0;
  border: none;
  line-height: 20px;
}

.sidebar legend {
  margin: 0 0 15px 0;
  padding: 0;
}

.sidebar label {
  margin-bottom: 20px;
  padding-left: 37px;
}

/*Range */

.sidebar-filter legend {
  margin-bottom: 45px;
}

.sidebar-filter label {
  margin: 0;
  padding: 0;
}

.range-wrapper {
  /*Div with the controls inside, need this margin because can't give margin to fieldset. Why?!*/
  margin-bottom: 55px;
}

.range-controls {
  position: relative; /*For toggles*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 80px;
  margin: 0 0 15px 0;
  background-color: #eeeeee;
  border-radius: 4px;
}

.controls-scale {
  width: 219px;
  height: 2px;
  background-color: #d7dcde;
}

.controls-bar {
  width: 152px;
  height: 2px;
  background-color: #00ca74;
}

.toggle {
  /*Flex or inline-block?*/
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #ffffff;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  /*Re-learn box-shadow course!*/
  cursor: pointer;
}

.toggle span {
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ababab;
}

.toggle-min {
  position: absolute;
  top: 37%;
  left: 18px;
}

.toggle-max {
  position: absolute;
  top: 37%;
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
}

.price-controls input {
  margin: 0 0 0 8px;
  width: 80px;
  height: 38px;
  background-color: #eeeeee;
  border-radius: 4px;
  text-align: center;
  border: none;
}

/*Catalog radio buttons*/

.radio-wrapper {
  /*Div with the controls inside, need this margin because can't give margin to fieldset. Why?!*/
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.sidebar-radio label {
  position: relative;
}

.sidebar-radio label:before {
  content: "";
  position: absolute;
  top: -4px;
  left: 0;
  width: 17px;
  height: 17px;
  border: 4px solid #4d4d4d;
  border-radius: 50%;
  opacity: 0.4;
}

.sidebar-radio .radio-checked:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 8px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #4d4d4d;
  opacity: 0.4;
}

.sidebar-radio label:hover:before,
.sidebar-radio label:hover:after {
  opacity: 1;
}

/*Catalog checkboxes*/

.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.sidebar-checkbox label {
  position: relative;
}

.sidebar-checkbox label:before {
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  width: 19px;
  height: 19px;
  border: 2px solid #4d4d4d;
  border-radius: 3px;
  opacity: 0.4;
}

.sidebar-checkbox .checkbox-checked:after {
  content: "";
  position: absolute;
  top: 0;
  left: 6px;
  width: 17px;
  height: 7px;
  border: 4px solid #4d4d4d;
  border-top: none;
  border-right: none;
  transform: rotate(-45deg);
  opacity: 0.4;
}

/*Filter button */
.sidebar-button {
  width: 260px;
  color: #000000;
  background-color: #eeeeee;
  border: none;
}

.sidebar-button:hover {
  background-color: #dfdfdf;
}

.sidebar-button:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 1px #bfbfbf;
}

.sidebar-checkbox label:hover:before,
.sidebar-checkbox label:hover:after {
  opacity: 1;
}

/*.sidebar-checkbox input[type="checkbox"]:disabled {
  opacity: 0.1;
}*/

/*Catalog*/

.catalog-catalog {
  max-width: 760px;
  margin: 0;
  padding: 0;
}

/*Catalog sort*/

.catalog-sort {
  display: flex;
  align-items: center; /*Can't make elements in a straight line without it*/
  margin-bottom: 55px;
}

.catalog-sort h2 {
  flex-grow: 1;
  max-width: 400px;
  margin: 0;
  padding: 0;
  line-height: 20px; /*In psd - 18px;*/
}

.sort-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 270px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 14px;
  line-height: 18px;
}

.sort-filter li {
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-filter li:hover {
  opacity: 0.6;
}

.sort-filter li:active {
  opacity: 1;
}

.sort-filter .active {
  opacity: 1;
}

/*Sort buttons*/

.sort-buttons {
  display: flex;
  width: 43px;
  justify-content: space-between;
  margin-left: auto;
}

.sort-button {
  position: relative;
  border: none;
  width: 11px;
  height: 10px;
  opacity: 0.2;
}

.sort-button:hover {
  opacity: 0.5;
}

.sort-button:active {
  opacity: 1;
}

.button-active {
  opacity: 1;
}

.sort-button:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
}

.button-down {
  background-image: url("../img/icon-down-dir.png");
  /*SVG doesn't work at all both in Chrome and Safari. What am I doing wrong?*/
  background-repeat: no-repeat;
  background-position: 0 0;
}

.button-up {
  background-image: url("../img/icon-up-dir.png");
  background-repeat: no-repeat;
  background-position: 0 0;
  /*If I want to change classes with JS in future, how is better: to save the picture in black and then change it through png?*/
}

/*Catalog with images*/

.catalog-images {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 0 28px 0;
  padding: 0;
  list-style: none;
}

/*Catalog card*/

.image-card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 360px;
  margin-bottom: 33px;
}

.image-card .image-top {
  opacity: 0.12;
}

.image-card:hover .image-top {
  opacity: 1;
}

.image-card:hover .card-hover {
  display: flex;
}

/*Card hover*/

.card-hover {
  position: absolute;
  top: 384px;
  left: 0;
  display: none;
  /*To hide it */
  flex-direction: column;
  align-items: center;
  width: 360px;
  height: 231px;
  padding: 30px 0 43px 0;
  background-color: #eeeeee;
  text-align: center;
}

.card-hover h4 {
  text-transform: uppercase;
  margin: 0;
  padding: 0 0 14px 0;
  font-weight: 18px;
  line-height: 30px;
}

.card-hover p {
  max-width: 210px;
  max-height: 70px;
  overflow: scroll;
  margin: 0;
  padding: 0 0 28px 0;
  color: #666666;
  font-weight: 16px;
  line-height: 18px;
}

.card-hover button {
  width: 200px;
}

.card-hover button:active {
  color: rgba(255, 255, 255, 1);
}

/*Pagination*/

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  margin-right: 11px;
  background-color: #eeeeee;
  border-radius: 3px;
}

.pagination li:hover {
  background-color: #dfdfdf;
}

.pagination li:active {
  background-color: #d5d5d5;
  color: rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 3px 1px #bfbfbf;
}

.pagination li:last-of-type {
  width: auto;
  padding: 0 78px 0 78px;
  text-transform: uppercase;
}

li.pagination-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}

/*Map in catalog */

.map-catalog {
  margin-top: 58px;
}

/*FEEDBACK POPUP*/

.feedback-popup {
  position: relative; /*For close button*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 960px;
  height: 590px;
  margin: 0 auto;
  padding: 70px 100px 70px 100px;
  background-color: #ffffff;
  box-shadow: 0px 0px 15px 5px #cfcfcf;
}

.feedback-popup fieldset {
  width: 760px;
  border: none;
  margin: 0;
  padding: 0;
}

.feedback-popup legend {
  margin-bottom: 45px;
}

.feedback-popup label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
}

.feedback-popup input[type="text"] {
  width: 360px;
  height: 50px;
  margin: 10px 0 30px 0;
  padding: 17px 0 17px 15px;
  border: 2px solid #d7dcde;
  opacity: 0.5;
}

.popup-text {
  display: flex;
  justify-content: space-between;
}

.feedback-popup textarea {
  width: 760px;
  height: 118px;
  margin: 10px 0 40px 0;
  padding: 17px 0 17px 15px;
  border: 2px solid #d7dcde;
  opacity: 0.5;
}

/*Popup button close */

.button-close {
  position: absolute;
  top: 78px;
  right: 90px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: none;
  cursor: pointer;
  opacity: 0.3;
}

.button-close:hover {
  opacity: 1;
}

.button-close:active {
  opacity: 0.1;
}

.button-close:before,
.button-close:after {
  content: "";
  position: absolute;
  top: 9px;
  left: 0px;
  width: 22px;
  height: 4px;
  background-color: #fb565a;
  border-radius: 4px;
}

.button-close:before {
  transform: rotate(45deg);
}

.button-close:after {
  transform: rotate(-45deg);
}
