* {
  box-sizing: border-box;
}

body  {
  min-width: 1440px;
  margin: 0;
  padding: 0;
  font-weight: 16px;
  line-height: 24px;
}

.container {
  max-width: 1160px;
  margin: 0 auto;
}

.button {
  display: block;
  width: 240px;
  height: 50px;
  margin: 0;
  padding: 0;
  background-color: #fb565a;
  text-align: center;
  color: #ffffff;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  border-radius: 4px;
}

/*HEADER*/

.header-main {
  width: 100%;
  background-color: #eeeeee;
  margin: 0;
  padding: 0;
}

.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 165px;
}

.header-logo {
  width: 360px;
}

.header-site-nav {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 440px;
  margin: 0;
  padding: 15px 0 0 0;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
}

.header-user-nav {
  margin: 0;
  padding: 15px 0 0 0;
  list-style-type: none;
  text-transform: uppercase;
  line-height: 30px;
}

.user-nav-cart {
  position: relative;
  min-width: 110px;
  margin: 0;
  padding: 0 0 0 37px;
}

.user-nav-cart::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 15px;
  height: 15px;
  background-color: red;
}

/*MAIN*/

/*Slider*/

.main-slider {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}

.slider-paragraph {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/*Catalog*/
.main-catalog {
  display: flex;
  justify-content: flex-start;
}

.main-catalog div {
  width: 300px;
  margin-right: 100px;
}

.catalog-image {
  width: 300px;
  height: 146px;
}

/*Catalog buttons*/

.catalog-button {
  width: 160px;
}

.catalog-apps .catalog-button {
  background-color: #00ca74;
}

.catalog-presentations .catalog-button {
  background-color: #efc849;
}

/*Description*/
